<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
              <h6>Ajouter une programmation de delais</h6>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>UE</label>            
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label>Date d'envoie</label>            
                  <input type="date" class="form-control">
              </div>
              <div class="form-group">
                <label>Date de delais</label>
                <input type="date" class="form-control datepicker">
              </div>
              <br>
              <div>
                <button class="btn btn-primary " style="font-size: 12px;" >Ajouter votre programme</button>
              </div>
            </div>
          </div>
    </div>
  </div>