<div class="site-wrap">
  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <div class="site-logo mr-auto w-100">
          <a href="#" style="text-decoration: none;">EasyRequest</a>
        </div>
      </div>
    </div>
  </header>

  <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <div class="site-logo mr-auto w-100">
          <a href="#" style="text-decoration: none;">EasyRequest</a>
        </div>
      </div>
    </div>
  </header>

  <div class="intro-section" id="home-section">
    <div class="slide-1"
         style="background-image: url('./assets/img/pexels-cottonbro-studio-6209589.jpg'); height: auto;">
      <div class="container" style="max-width: 800px; padding: 0;">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="row align-items-center">
              <div class="col-lg-12 text-center mb-4">
                <h1 data-aos="fade-up" data-aos-delay="200" style="font-size:500%;">Explorez Nous</h1>
                <h1 data-aos="fade-up" data-aos-delay="100"style="font-size:250%;">Transformez vos requêtes en actions avec facilité grâce à
                  EasyRequest</h1>
                <p data-aos="fade-up" data-aos-delay="300" style="color: white;font-size: 150%;">Du problème à la solution, une requête à la fois.</p><br>
                <a routerLink="/login" data-aos-delay="200" data-aos="fade-up" class="btn btn-primary pills"
                   style="background-color: rgb(4, 4, 4); border: none; padding: 15px 22px;">
                  <i class="material-icons" style="font-size: 24px; vertical-align: middle; margin-right: 10px;"></i>
                  <span style="font-size: 18px; vertical-align: middle;">Se connecter</span>
                </a>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="site-section" id="programs-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-lg-7 text-center">
          <h2 class="section-title">EasyRequest</h2>
          <p>
            Bienvenue dans notre application de gestion de requêtes, votre
            alliée pour simplifier et optimiser le processus de gestion des
            demandes et réclamations. Notre application offre une solution
            complète et intuitive pour vous permettre de gérer efficacement
            toutes les requêtes.
          </p>
        </div>
      </div>
      <div class="row mb-5 align-items-center">
        <div class="col-lg-7 mb-5">
          <img
            src="assets/img/undraw_teacher.svg"
            alt="Image"
            class="img-fluid"
          />
        </div>
        <div class="col-lg-4 ml-auto">
          <h2 class="text-black mb-4">Excellent simplifier le processus</h2>
          <p class="mb-4">
            Avec notre interface conviviale, suivez le parcours de chaque
            requête de manière transparente, depuis sa soumission jusqu'à sa
            résolution. Profitez d'une organisation optimale, d'une
            communication fluide et d'un suivi en temps réel pour garantir
            une satisfaction client maximale.
          </p>
          <div class="d-flex align-items-center custom-icon-wrap">
            <span class="custom-icon-inner mr-3"
            ><span class="icon icon-university"></span
            ></span>
            <div><h3 class="m-0" style="color: black;">universite de yaounde I</h3></div>
          </div>
        </div>
      </div>

      <div class="row mb-5 align-items-center">
        <div class="col-lg-7 mb-5 order-1 order-lg-2">
          <img
            src="assets/img/undraw_teaching.svg"
            alt="Image"
            class="img-fluid"
          />
        </div>
        <div class="col-lg-4 mr-auto order-2 order-lg-1">
          <h2 class="text-black mb-4">Soumission facile de la requête</h2>
          <p class="mb-4">
            Les fonctionnalités avancées de notre application vous
            permettent de prioriser les requêtes, d'assigner des tâches, et
            d'analyser les tendances pour anticiper les besoins futurs.
            Gagnez du temps, évitez les doublons et assurez-vous que chaque
            requête est traitée de manière efficace.
          </p>
          <div class="d-flex align-items-center custom-icon-wrap">
            <span class="custom-icon-inner mr-3"
            ><span class="icon icon-university"></span
            ></span>
            <div><h3 class="m-0" style="color: black;" >universite de yaounde I</h3></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer-section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>A propos de EasyRequest</h3>
          <p style="color: gray;">
            EasyRequest simplifie la gestion des demandes étudiantes à
            travers une plateforme conviviale. Suivez, priorisez et résolvez
            efficacement les requêtes, offrant une solution transparente
            pour améliorer la communication et l'efficacité au sein de
            l'université.
          </p>
        </div>

        <div class="col-md-5">
          <h3>Inscrivez-vous à notre newsletter</h3>
          <p style="color: gray;">
            Pour devenir membre de notre communauté et accéder à nos dernières mises à jour et recommandations, inscrivez-vous sur notre plateforme.
          </p>
          <form action="subscribe-to-newsletter" [formGroup]="newsletterForm" class="footer-subscribe" (ngSubmit)="subscribeToNewsletter()">
            <div class="d-flex mb-5">
              <input
                type="email"
                class="form-control rounded-0"
                placeholder="Email"
                name="email"
                formControlName="email"
              />&nbsp;&nbsp;
              <div class="form-group row mb-2">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                <div class="col-sm-12 col-md-7">
                  <button type="submit"  class="btn  rounded-2"
                          value="Subscribe"
                          style="background-color: black;color:white; border: none; padding: 15px 22px;font-size: 12px;" >Soumettre</button>
                </div>
              </div>

            </div>
          </form>
        </div>

      </div>
    </div>
  </footer>
</div>
