<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>Ecrire votre Requête individuelle</h5>
      </div>
      <form action="add-individual-request" method="post" [formGroup]="requestForm" enctype="multipart/form-data"
            (ngSubmit)="sendRequest()">
        <div class="card-body">
          <div class="form-group row mb-4">
            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Motif</label>
            <div class="col-sm-12 col-md-7">
              <select class="form-control selectric" pInputText formControlName="requestPatternId" id="requestPatternId"
                      name="requestPatternId">
                <option value="" disabled selected>Motif Requete</option>
                <option *ngFor="let pattern of requestPatterns" [value]="pattern.id">{{ pattern.pattern_description }}
                </option>
              </select>
              <div *ngIf="requestPatternId.invalid && requestPatternId.touched" class="text-danger">
                <div *ngIf="requestPatternId.errors?.['required']">Motif est requis</div>
              </div>
            </div>

          </div>
          <br/>
          <div class="form-group row mb-4">
            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Intitulé</label>
            <div class="col-sm-12 col-md-7">
              <input type="text" id="title" name="title" pInputText placeholder="Saisissez l'intitulé de votre requête"
                     formControlName="title" class="form-control"/>
              <div *ngIf="title.invalid && title.touched" class="text-danger">
                <div *ngIf="title.errors?.['required']">Intitulé est requis</div>
              </div>
            </div>
          </div>
          <br>
          <div class="form-group row mb-4">
            <label class="col-form-label  text-md-right col-12 col-md-3 col-lg-3">Saisir le contenu de votre
              Requete</label>
            <div class="col-sm-12 col-md-7">
              <textarea class="summernote-simple  form-control" id="content" pInputTextarea formControlName="content"
                        placeholder="Saisissez le contenu de votre requête" rows="8" cols="75"></textarea>
              <div *ngIf="content.invalid && content.touched" class="text-danger">
                <div *ngIf="content.errors?.['required']">Contenu de la requête est requis</div>
              </div>
            </div>
          </div>

          <div class="form-group row mb-4">
            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Piece manuscrite</label>
            <div class="col-sm-12 col-md-7">
              <div id="image-preview" class="image-preview">
                <label for="image-upload" id="image-label">Choose File</label>
                <input type="file"  name="fileHandWritten"  (change)="onFileChange($event)"
                       formControlName="fileHandWritten" accept=".png, .jpeg, .jpg, .pdf" id="image-upload"/>
              </div>
              <div *ngIf="fileHandWritten.invalid && fileHandWritten.touched" class="text-danger">
                <div *ngIf="fileHandWritten.errors?.['required']">Pièce manuscrite est requise</div>
              </div>
            </div>
          </div>
          <div class="form-group row mb-4">
            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Pieces jointes</label>
            <div class="col-sm-12 col-md-7">
              <div class="custom-file">
                  <input aria-describedby="inputGroupFileAddon04"
                         aria-label="Upload" multiple
                         class="custom-file-input"
                         cFormControl
                         formControlName="fileAttachments[]" (change)="onFileAttachmentsChange($event)"
                         id="inputGroupFile04"
                         name="fileAttachments[]" accept=".png, .jpeg, .jpg, .pdf"
                         type="file"/>
                  <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
              </div>

              <div *ngIf="fileAttachments.invalid && fileAttachments.touched" class="text-danger">
                <div *ngIf="fileAttachments.errors?.['required']">Pièces jointes sont requises</div>
              </div>
            </div>
          </div>
          <div class="form-group row mb-4">
            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Destinataire</label>
            <div class="col-sm-12 col-md-7">
              <select class="form-control selectric" name="receiver_id" formControlName="receiver_id" id="receiver_id">
                <option value="" disabled selected>Sélectionnez un destinataire</option>
                <option *ngFor="let teacher of staffList" [value]="teacher.id">{{ teacher.name }}</option>
              </select>
              <div *ngIf="receiver_id.invalid && receiver_id.touched" class="text-danger">
                <div *ngIf="receiver_id.errors?.['required']">Destinataire est requis</div>
              </div>
            </div>
          </div>
          <div class="form-group row mb-4">
            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
            <div class="col-sm-12 col-md-7">
              <button type="submit" class="btn btn-primary" style="font-size: 12px;">Soumettre</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
