<div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>liste des Requetes</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
            <thead>
            <tr>
              <th>Code dossier</th>
              <th>Date d'envoie</th>
              <th>UE</th>
              <th>Objet</th>
              <th>Etat</th>
              <th>Detenteur</th>
              <th>Date Validation</th>
              <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let request of requests; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ request.title }}</td>
              <td>{{ getPatternDescriptionById(request.request_pattern_id) }}</td>
              <td>{{ request.created_at | date: 'dd/MM/yyyy' }}</td>
              <td>
                <div [ngClass]="{
                  'badge': true,
                  'badge-success': request.statut === 'Accepter',
                  'badge-danger': request.statut === 'Refuser',
                  'badge-warning': request.statut === 'attente_validation',
                  'badge-info': request.statut === 'en_cours',
                }">
                  {{ request.statut }}
                </div>


              </td>
              <!-- <td>
                <a [routerLink]="['/voir_requete', request.id]" class="btn btn-primary" style="font-size: 12px;">
                  Voir plus
                </a>
              </td> -->
             <td style="display: flex; justify-content: space-between;">
               <a class="btn btn-danger btn-action" style="font-size: 12px;color: white;">
                 Supprimer
               </a>
             </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
