<div *ngIf="pageIsLoad" class="fade show" style="text-align: center; padding-top: calc(100vh / 2); height: 100vh">
  <i class="spinner-grow spinner-grow-sm"></i>
  <span class="m-1">Loading...</span>
</div>

<div class="card">
  <div class="card-header">
    <h4>Requetes recus</h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-hover" id="tableExport" style="width: 100%">
        <thead>
        <tr>
          <th>Code</th>
          <th>Motif</th>
          <th>Intitule</th>
          <th>Matricule</th>
          <th>Pieces</th>
          <th>Date d'envoie</th>
          <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let request of requests; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ request.title }}</td>
          <td>{{ request.content.substring(0, 8) }} .....</td>
          <td>{{ request.sender.matricule }}</td>
          <td>{{ request.attachments.length }}</td>
          <td>{{ request.created_at }}</td>
          <td>
            <button cButton class="me-1" color="primary" (click)="showRequest(request.id)" style="font-size: 12px;">
              Details
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
