:host {
  ng-scrollbar {
    --scrollbar-thumb-color: var(--cui-border-color, #999);
    --scrollbar-track-color: var(--cui-body-color, #fff);
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
  }
}

.sidebar {
  background-color: #292929; 
}


.sidebar-nav .c-sidebar-nav-item.c-active {
  background-color: #363636;
}
.sidebar-nav .c-sidebar-nav-item.c-active:hover {
  background-color: #1f2b33;
}


