<div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>liste des Requetes</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
            <thead>
              <tr>
                <th>#</th>
                <th>Libellé</th>
                <th>Type</th>
                <th>motif</th>
                <th>Date d'envoie</th>
                <th>Etat</th>
                <th>Details</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>ICT302</td>
                <td>Individuelle</td>
                <td>erreur de note</td>
                <td>Mr Danielle</td>
                <td>
                  <div class="badge badge-success">Validé</div>
                </td>
                <td>
                  <a href="voir_requete.html"
                    ><div class="btn btn-primary">
                      voir plus
                    </div></a
                  >
                </td>
                <td>
                  <a class="btn btn-warning btn-action mr-1">
                      Editer
                  </a>
                  <a class="btn btn-danger btn-action">
                      Supprimer
                  </a>
              </td>
              </tr>
              <tr>
                <td>1</td>
                <td>ICT302</td>
                <td>Individuelle</td>
                <td>erreur de note</td>
                <td>Mr Danielle</td>
                <td>
                  <div class="badge badge-success">Validé</div>
                </td>
                <td>
                  <a href="voir_requete.html"
                    ><div class="btn btn-primary">
                      voir plus
                    </div></a
                  >
                </td>
                <td>
                  <a class="btn btn-warning btn-action mr-1">
                      Editer
                  </a>
                  <a class="btn btn-danger btn-action">
                      Supprimer
                  </a>
              </td>
              </tr>
              <tr>
                <td>1</td>
                <td>ICT302</td>
                <td>Individuelle</td>
                <td>erreur de note</td>
                <td>Mr Danielle</td>
                <td>
                  <div class="badge badge-danger">Rejetée</div>
                </td>
                <td>
                  <a href="voir_requete.html"
                    ><div class="btn btn-primary">
                      voir plus
                    </div></a
                  >
                </td>
                <td>
                  <a class="btn btn-warning btn-action mr-1">
                      Editer
                  </a>
                  <a class="btn btn-danger btn-action">
                      Supprimer
                  </a>
              </td>
              </tr>
              <tr>
                <td>1</td>
                <td>ICT302</td>
                <td>Individuelle</td>
                <td>erreur de note</td>
                <td>Mr Danielle</td>
                <td>
                  <div class="badge badge-warning">en attente</div>
                </td>
                <td>
                  <a href="voir_requete.html"
                    ><div class="btn btn-primary">
                      voir plus
                    </div></a
                  >
                </td>
                <td>
                  <a class="btn btn-warning btn-action mr-1">
                      Editer
                  </a>
                  <a class="btn btn-danger btn-action">
                      Supprimer
                  </a>
              </td>
              </tr>
              <tr>
                <td>1</td>
                <td>ICT302</td>
                <td>Individuelle</td>
                <td>erreur de note</td>
                <td>Mr Danielle</td>
                <td>
                  <div class="badge badge-success">Validé</div>
                </td>
                <td>
                  <a href="voir_requete.html"
                    ><div class="btn btn-primary">
                      voir plus
                    </div></a
                  >
                </td>
                <td>
                  <a class="btn btn-warning btn-action mr-1">
                      Editer
                  </a>
                  <a class="btn btn-danger btn-action">
                      Supprimer
                  </a>
              </td>
              </tr>
              <tr>
                <td>1</td>
                <td>ICT302</td>
                <td>Individuelle</td>
                <td>erreur de note</td>
                <td>Mr Danielle</td>
                <td>
                  <div class="badge badge-danger">Rejetée</div>
                </td>
                <td>
                  <a href="voir_requete.html"
                    ><div class="btn btn-primary">
                      voir plus
                    </div></a
                  >
                </td>
                <td>
                  <a class="btn btn-warning btn-action mr-1">
                      Editer
                  </a>
                  <a class="btn btn-danger btn-action">
                      Supprimer
                  </a>
              </td>
              </tr>
              <tr>
                <td>1</td>
                <td>ICT302</td>
                <td>Individuelle</td>
                <td>erreur de note</td>
                <td>Mr Danielle</td>
                <td>
                  <div class="badge badge-warning">en attente</div>
                </td>
                <td>
                  <a href="voir_requete.html"
                    ><div class="btn btn-primary">
                      voir plus
                    </div></a
                  >
                </td>
                <td>
                  <a class="btn btn-warning btn-action mr-1">
                      Editer
                  </a>
                  <a class="btn btn-danger btn-action">
                      Supprimer
                  </a>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>