<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EasyRequest</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../../asset/fonts/icomoon/style.css" />

    <link rel="stylesheet" href="../../../asset/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../asset/css/jquery-ui.css" />
    <link rel="stylesheet" href="../../../asset/css/owl.carousel.min.css" />
    <link
      rel="stylesheet"
      href="../../../asset/css/owl.theme.default.min.css"
    />
    <link
      rel="stylesheet"
      href="../../../asset/css/owl.theme.default.min.css"
    />

    <link rel="stylesheet" href="../../../asset/css/jquery.fancybox.min.css" />

    <link rel="stylesheet" href="../../../asset/css/bootstrap-datepicker.css" />

    <!-- <link rel="stylesheet" href="../../asset/fonts/flaticon/font/flaticon.css"> -->

    <link rel="stylesheet" href="../../../asset/css/aos.css" />

    <link rel="stylesheet" href="../../../asset/css/style.css" />
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap">
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>

      <header
        class="site-navbar py-4 js-sticky-header site-navbar-target"
        role="banner"
      >
        <div class="container-fluid">
          <div class="d-flex align-items-center">
            <div class="site-logo mr-auto w-25">
              <a href="#">EasyRequest</a>
            </div>

            <div class="d-flex align-items-center">
              <br />
              <nav
                class="site-navigation position-relative text-right"
                role="navigation"
              >
                <ul
                  class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0"
                >
                 
                  <li>
                    <a href="/auth" routerLink="auth" class="btn btn-primary py-3 px-5"
                      ><span style="color: white; font-weight: bold"
                        >Connexion</span
                      ></a
                    >
                  </li>
                </ul>
              </nav>
              <a
                href="#"
                class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"
                ><span class="icon-menu h3"></span
              ></a>
            </div>
          </div>
        </div>
      </header>

      <div
        class="slide-1 d-flex align-items-center justify-content-center text-white"
        style="
          background-image: url('../../assets/img/pexels-cottonbro-studio-6209589.jpg');
          height: 100vh;
        "
        data-stellar-background-ratio="0.5"
      >
        <div class="container text-center">
          <br /><br />
          <div class="row">
            <div class="col-lg-12">
              <div class="mb-8">
                <h1 class="display-4" style="font-weight: bold">
                  Transformez vos requêtes en actions avec facilité grace a
                  EasyRequest
                </h1>
                <br />
                <p>Du problème à la solution, une requête à la fois.</p>
                <br />
                <p>
                  <a href="#" class="btn btn-primary py-3 px-5">Explorer</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section" id="programs-section">
        <div class="container">
          <div class="row mb-5 justify-content-center">
            <div class="col-lg-7 text-center">
              <h2 class="section-title">EasyRequest</h2>
              <p>
                Bienvenue dans notre application de gestion de requêtes, votre
                alliée pour simplifier et optimiser le processus de gestion des
                demandes et réclamations. Notre application offre une solution
                complète et intuitive pour vous permettre de gérer efficacement
                toutes les requêtes.
              </p>
            </div>
          </div>
          <div class="row mb-5 align-items-center">
            <div class="col-lg-7 mb-5">
              <img
                src="../../../assets/img/undraw_teacher.svg"
                alt="Image"
                class="img-fluid"
              />
            </div>
            <div class="col-lg-4 ml-auto">
              <h2 class="text-black mb-4">Excellent simplifier le processus</h2>
              <p class="mb-4">
                Avec notre interface conviviale, suivez le parcours de chaque
                requête de manière transparente, depuis sa soumission jusqu'à sa
                résolution. Profitez d'une organisation optimale, d'une
                communication fluide et d'un suivi en temps réel pour garantir
                une satisfaction client maximale.
              </p>
              <div class="d-flex align-items-center custom-icon-wrap">
                <span class="custom-icon-inner mr-3"
                  ><span class="icon icon-university"></span
                ></span>
                <div><h3 class="m-0">universite de yaounde I</h3></div>
              </div>
            </div>
          </div>

          <div class="row mb-5 align-items-center">
            <div class="col-lg-7 mb-5 order-1 order-lg-2">
              <img
                src="../../../assets/img/undraw_teaching.svg"
                alt="Image"
                class="img-fluid"
              />
            </div>
            <div class="col-lg-4 mr-auto order-2 order-lg-1">
              <h2 class="text-black mb-4">Soumission facile de la requête</h2>
              <p class="mb-4">
                Les fonctionnalités avancées de notre application vous
                permettent de prioriser les requêtes, d'assigner des tâches, et
                d'analyser les tendances pour anticiper les besoins futurs.
                Gagnez du temps, évitez les doublons et assurez-vous que chaque
                requête est traitée de manière efficace.
              </p>
              <div class="d-flex align-items-center custom-icon-wrap">
                <span class="custom-icon-inner mr-3"
                  ><span class="icon icon-university"></span
                ></span>
                <div><h3 class="m-0">universite de yaounde I</h3></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer-section bg-white">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3>A propos de EasyRequest</h3>
              <p>
                EasyRequest simplifie la gestion des demandes étudiantes à
                travers une plateforme conviviale. Suivez, priorisez et résolvez
                efficacement les requêtes, offrant une solution transparente
                pour améliorer la communication et l'efficacité au sein de
                l'université.
              </p>
            </div>

            <div class="col-md-5">
              <h3>inscris toi</h3>
              <p>
                pour etre membre de notre communauté et avoir acces à nos
                derniers mises à jour et recommandation inscrivez vous sur notre
                plateforme
              </p>
              <form action="#" class="footer-subscribe">
                <div class="d-flex mb-5">
                  <input
                    type="text"
                    class="form-control rounded-0"
                    placeholder="Email"
                  />
                  <input
                    type="submit"
                    class="btn btn-primary rounded-0"
                    value="Subscribe"
                  />
                </div>
              </form>
            </div>
          </div>

          <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
              <div class="border-top pt-5">
                <p>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  All rights reserved
                  <i class="icon-heart" aria-hidden="true"></i> by
                  <a href="https://colorlib.com" target="_blank">EasyRequest</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- .site-wrap -->

    <script src="../../../asset/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="../../../asset/js/jquery-ui.js"></script>
    <script src="../../../asset/js/popper.min.js"></script>
    <script src="../../../asset/js/bootstrap.min.js"></script>
    <script src="../../../asset/js/owl.carousel.min.js"></script>
    <script src="../../../asset/js/jquery.stellar.min.js"></script>
    <script src="../../../asset/js/jquery.countdown.min.js"></script>
    <script src="../../../asset/js/bootstrap-datepicker.min.js"></script>
    <script src="../../../asset/js/jquery.easing.1.3.js"></script>
    <script src="../../../asset/js/aos.js"></script>
    <script src="../../../asset/js/jquery.fancybox.min.js"></script>
    <script src="../../../asset/js/jquery.sticky.js"></script>

    <script src="../../../asset/js/main.js"></script>
  </body>
</html>
