<div class="invoice">
  <div class="invoice-print">
    <div class="row">
      <div class="col-lg-12">
        <div class="invoice-title">
          <h3>Traiter la Requête</h3>
          <div class="invoice-number">#1</div>
        </div>
        <hr />
        <div class="table-responsive">
          <table class="table table-striped table-hover table-md">
            <tr>
              <th>Nom de l'etudiant</th>
              <th>Matricule</th>
              <th>Motif</th>
              <th>date de soumission</th>
            </tr>
            <tr>
              <td>Danielle Mckeny</td>
              <td>21Q2301</td>
              <td>Erreur de note</td>
              <td>19-04-2023</td>
            </tr>
          </table>
        </div>
        <br /><br />
        <div class="row">
          <div class="col-md-6">
            <address>
              <strong>Nyadjou</strong><br />
              lucie Danielle<br />
              21Q2301,<br />
              ICT4D<br />
            </address>
          </div>
          <div class="col-md-6 text-md-right">
            <address>
              <strong>Order Date:</strong><br />
              Yaounde June 26, 2023<br /><br />
            </address>
          </div>
          <div class="col-md-6 text-md-right">
            <address>
              <strong>A monsieur:</strong><br />
              nom du prof....<br /><br />
            </address>
          </div>
        </div>
        <div class="col-md-6 text-md-right">
          <address></address>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <h3>objet de la requête</h3>
      <p class="section-lead">corps de la requetes</p>

      <div class="row mt-4">
        <div class="col-lg-8">
          <h3>pieces jointes</h3>
          <p class="section-lead"><a href="">piece1</a></p>
          <p class="section-lead"><a href="">piece2</a></p>
        </div>
      </div>
      <div class="float-lg-left mb-lg-0 mb-3">
        <button class="btn btn-success" (click)="validateRequest()">
          Valider
        </button>&nbsp;&nbsp;
        <button class="btn btn-warning" (click)="putOnHoldRequest()">
          Mettre en attente
        </button>&nbsp;&nbsp;
        <button class="btn btn-danger" (click)="rejectRequest()">
          Rejeter
        </button>
      </div>

    </div>
  </div>
</div>
<hr />
