<nav class="navbar navbar-expand-lg main-navbar sticky">
  <div class="form-inline mr-auto">
    <ul class="navbar-nav mr-3">
      <li>
        <a
          class="nav-link nav-link-lg collapse-btn"
          data-toggle="sidebar"
          href="#"
        >
          <i data-feather="align-justify"></i
          ></a>
      </li>
      <li>
        <a class="nav-link nav-link-lg fullscreen-btn" href="#">
          <i data-feather="maximize"></i>
        </a>
      </li>
      <li>
        <form class="form-inline mr-auto">
          <div class="search-element">
            <input
              aria-label="Search"
              class="form-control"
              data-width="200"
              placeholder="Search"
              type="search"
            />
            <button class="btn" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav navbar-right">
    <li class="dropdown dropdown-list-toggle">
      <a
        class="nav-link nav-link-lg message-toggle"
        data-toggle="dropdown"
        href="#"
      ><i data-feather="mail"></i>
        <span class="badge headerBadge1"> 6 </span>
      </a>
      <div
        class="dropdown-menu dropdown-list dropdown-menu-right pullDown"
      >
        <div class="dropdown-header">
          Messages
          <div class="float-right">
            <a href="#">Mark All As Read</a>
          </div>
        </div>
        <div class="dropdown-list-content dropdown-list-message">
          <a class="dropdown-item" href="#">
                  <span class="dropdown-item-desc">
                    <span class="message-user">Dany Mckeny</span>
                    <span class="time messege-text"
                    >Please check your mail !!</span
                    >
                    <span class="time">2 Min Ago</span>
                  </span>
          </a>
          <a class="dropdown-item" href="#">
                  <span class="dropdown-item-desc">
                    <span class="message-user">Dany Mckeny</span>
                    <span class="time messege-text"
                    >Please check your mail !!</span
                    >
                    <span class="time">2 Min Ago</span>
                  </span>
          </a>
        </div>
        <div class="dropdown-footer text-center">
          <a href="#">View All <i class="fas fa-chevron-right"></i></a>
        </div>
      </div>
    </li>
    <li class="dropdown dropdown-list-toggle">
      <a
        class="nav-link notification-toggle nav-link-lg"
        data-toggle="dropdown"
        href="#"
      ><i class="bell" data-feather="bell"></i>
      </a>
      <div
        class="dropdown-menu dropdown-list dropdown-menu-right pullDown"
      >
        <div class="dropdown-header">
          Notifications
          <div class="float-right">
            <a href="#">Mark All As Read</a>
          </div>
        </div>
        <div class="dropdown-list-content dropdown-list-icons">
          <a class="dropdown-item" href="#">
                  <span class="dropdown-item-icon bg-info text-white">
                    <i class="far fa-user"></i>
                  </span>
            <span class="dropdown-item-desc">
                    <b>You</b> and <b>Dedik Sugiharto</b> are now friends
                    <span class="time">10 Hours Ago</span>
                  </span>
          </a>
          <a class="dropdown-item" href="#">
                  <span class="dropdown-item-icon bg-success text-white">
                    <i class="fas fa-check"></i>
                  </span>
            <span class="dropdown-item-desc">
                    <b>Kusnaedi</b> has moved task <b>Fix bug header</b> to
                    <b>Done</b> <span class="time">12 Hours Ago</span>
                  </span>
          </a>
          <a class="dropdown-item" href="#">
                  <span class="dropdown-item-icon bg-info text-white">
                    <i class="fas fa-bell"></i>
                  </span>
            <span class="dropdown-item-desc">
                    Welcome to Otika template!
                    <span class="time">Yesterday</span>
                  </span>
          </a>
        </div>
        <div class="dropdown-footer text-center">
          <a href="#">View All <i class="fas fa-chevron-right"></i></a>
        </div>
      </div>
    </li>
    <li class="dropdown dropdown-list-toggle">
      <a
        class="nav-link notification-toggle nav-link-lg"
        data-toggle="dropdown"
        href="#"
      ><i class="user" data-feather="user"></i
      ></a>
      <div class="dropdown-menu dropdown-menu-right pullDown">
        <div class="dropdown-title">Dany Mckeny</div>
        <a class="dropdown-item has-icon" href="#">
          <i class="fas fa-cog"></i>
          Langue : Anglais
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item has-icon text-danger" href="#">
          <i class="fas fa-sign-out-alt"></i>
          Logout
        </a>
      </div>
    </li>
  </ul>
</nav>
